<div>
  {{#with main}}
    <main>
      <section>
         {{> title data ="My education" big=true}}
        <ul class="ps-5">
          {{#each education}}
            <li>
              {{name}}
              {{#unless isEnd}} (ще в процесі) {{/unless}}              
            </li>
          {{/each}}
        </ul>
      </section>
      <section>
        {{> title data ="My certificates" big=false}}
        <ul class="ps-5">
          {{#each certificates}}
        </ul>
        <li> 
          {{name}}
           ({{id}})
        </li>
        {{/each}}
        </ul>
      </section>
    </main>
  {{/with}}
</div>