<div class='p-5'>
  <h3>Список сторінок</h3>
  <div class='row col-1'>
    <section>
      <a href='/bio' class='btn btn-primary'>Bio</a>
      <a href='/car' class='btn btn-primary'>Car</a>
      <a
        href='/education'
        class='btn btn-primary'
      >Education</a>
      <a href='/jss' class='btn btn-primary'>Jss</a>
      <a href='/mac' class='btn btn-primary'>Mac</a>
      <a href='/person' class='btn btn-primary'>Person</a>
      <a href='/program' class='btn btn-primary'>Program</a>
      <a
        href='/shopcart'
        class='btn btn-primary'
      >Shopcart</a>
      <a
        href='/shophome'
        class='btn btn-primary'
      >Shophome</a>
      <a
        href='/shopnews'
        class='btn btn-primary'
      >Shopnews</a>
      <a
        href='/shoporder'
        class='btn btn-primary'
      >Shoporder</a>
      <a
        href='/shopproduct'
        class='btn btn-primary'
      >Shopproduct</a>
      <a
        href='/shopprofile'
        class='btn btn-primary'
      >Shopprofile</a>
      <a
        href='/shopreview'
        class='btn btn-primary'
      >Shopreview</a>
      <a href='/skills' class='btn btn-primary'>Skills</a>
      <a href='/summary' class='btn btn-primary'>Summary</a>
      <a href='/task21' class='btn btn-primary center'>Task
        21</a>
      <a href='/task22' class='btn btn-primary'>Task 22</a>
      <a href='/task31' class='btn btn-primary'>Task 31</a>
      <a href='/web' class='btn btn-primary'>Web</a>
      <a href='/work' class='btn btn-primary'>Work</a>
      <a
        href='/facebook'
        class='btn btn-primary'
      >Facebook</a>
    </section>
  </div>
</div>