<main>
  <div class='row g-4'>
    <div class='col-12 mb-2'>
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a href='#' class='nav-link active'>main</a>
        </div>
        <div class='nav-item active'>
          <a href='#' class='nav-link'>calatoge</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link disabled'>shop</a>
        </div>
      </div>
    </div>
    <div class='col-5'>
      <div class='card'>
        <div class='pt-4 pb-3 px-4'>
          <div class='nav flex-column'>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='#' class='nav-link'>link</a>
              </div>
            </div>
            <div class='nav-item active mb-2'>
              <div class='card'>
                <a href='#' class='nav-link'>calatoge</a>
              </div>
            </div>
            <div class='nav-item'>
              <div class='card'>
                <a
                  href='#'
                  class='nav-link disabled'
                >Faq</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-7'>
      <div class='row'>
        <div class='col-12'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Home</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>Acer</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>Asus</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    

    <div class='col-12'>
      <div class='alert alert-dark'>
      <h6 >hello world<span class='badge text-bg-primary rounded-pill text-uppercase'>топ продаж</span></h6>
      <button
        class='btn btn-warning rounded-pill'
      >click</button>
      <div class='alert alert-primary m-2'>This is important
        info</div>
    </div>
  </div>
</main>

 
  